{
  "env": { "node": true, "browser": true, "jest": true },
  "extends": [
    "sanity/react",
    "sanity/typescript",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
  "root": true,
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "import/namespace": ["error", { "allowComputed": true }],
    "prettier/prettier": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "react/jsx-no-bind": ["error", { "allowArrowFunctions": true }],
    "react/react-in-jsx-scope": "off",
    "sort-imports": [
      "error",
      { "ignoreCase": true, "ignoreDeclarationSort": true }
    ],
    "import/order": [
      1,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
